[Desktop Entry]
Encoding=UTF-8
Name=Boa
Comment=Boa P2P Cryptocurrency
Comment[fr]=Boa, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Boa, eşten eşe kriptografik sanal para birimi
Exec=boa-qt %u
Terminal=false
Type=Application
Icon=boa128
MimeType=x-scheme-handler/boa;
Categories=Office;Finance;
