[Unit]
Description=Boa's distributed currency daemon
After=network.target

[Service]
User=boa
Group=boa

Type=forking
PIDFile=/var/lib/boad/boad.pid
ExecStart=/usr/bin/boad -daemon -pid=/var/lib/boad/boad.pid \
-conf=/etc/boa/boa.conf -datadir=/var/lib/boad -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
